<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- LeakCanary-style launcher icon (via a second launcher activity). -->
        <activity
            android:name="dev.inspectkit.InspectKitActivity"
            android:enabled="true"
            android:exported="true"
            android:label="InspectKit"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
